attrs==21.2.0
configparser==5.0.2
Cython==0.29.24
cytoolz==0.11.0
dataclasses==0.6
decorator==5.0.9
defusedxml==0.7.1
h5py==2.10.0
imageio==2.9.0
imgaug==0.4.0
numpy==1.18.5
opencv-python==4.4.0.46
pathtools==0.1.2
Pillow==7.1.2
pip==21.3.1
protobuf==3.14.0
s3transfer==0.5.0
sagemaker==2.53.0
setuptools==57.4.0
tensorboard>=2.5.0
tensorboardX>=2.4
tqdm>=4.47.0
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.6
wandb==0.11.2
zipp==3.4.0
